[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss
[submodule "public"]
	path = public
	url = https://github.com/sudev/sudev.github.com
	branch = master
[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ahonn/hexo-theme-even
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/sudev/hugo-nuo
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/sudev/beautifulhugo
